<div class="clearfix">
    <form ng-Submit="post()" ng-show="authenticated">
        <h4>{{current_user}} says</h4>
    <textarea required class="form-control" maxlength="100"
              rows="1" placeholder="Title" ng-model="newArticle.title"></textarea>
    <textarea required class="form-control" maxlength="100"
              rows="1" placeholder="Link" ng-model="newArticle.link"></textarea>
        <input class="btn submit-btn pull-right" type="submit" value="Chirp!" />
    </form>
</div>
<div id="post-stream">
    <h4>Articles</h4>
    <label for="new_client">Добавление нового клиента</label><br>
    <input id="new_client" type="text" placeholder="Введите имя" name="name" ng-model="newCient.value" />
    <button ng-click="onAddNewClientClick(newCient.value)">Добавить</button>
    <ul class="comments">
        <li class="comment" ng-repeat="(clI, client) in clients"
            ng-class="clI === selectedIndex && 'selectedClient'"
            ng-click="onClientClick(clI)"
        >
            <strong class="comment_author">{{client.name}}</strong>
            <!-- <div class="comment_text">{{comment.text}}</div> -->
        </li>
    </ul>
    <ul class="comments">
        <li class="comment" ng-repeat="(itI, item) in items"
            
            ng-class="selectedItemsIds.indexOf(item._id) !== -1 && 'selectedItem'"
        >
            <div >
                <strong class="comment_author"
                        ng-click="onItemClick(item)"
                >{{item.name}}</strong>
                <span class="comment_text" ng-show="selectedItemsIds.indexOf(item._id) !== -1">
                    <input type="number" ng-model="quantity['item_' + itI]" />
                </span>
            </div>
        </li>
    </ul>

    <button ng-click="handleCalculatePrice(quantity)">Calculate price</button>

    <div class="cart">
        <span class="price">
            {{total_price}}
        </span>
    </div>
</div>