<div id="post-stream">
    <div class="header"> <h4>Программная поддержка процесса формирования цены и скидки на заказ авторемонтного предприятия</h4></div>
            <div class="flex-container">
                <div class="items">
                        <button class="submit-btn" id="myBtn">Добавить товар</button>

                        <!-- The Modal -->
                        <div id="myModal" class="modal">
                        
                          <!-- Modal content -->
                          <div class="modal-content">
                                <span class="close">&times;</span>
                                <label for="new_client">Добавление нового товара</label><br>
                                <input id="new_client" type="text" placeholder="Введите название" name="name" ng-model="newItem.value.name" /><br>
                                <input id="new_client" type="number" placeholder="Введите переменные издержки" name="name" ng-model="newItem.value.varCost" /><br>
                                <input id="new_client" type="number" placeholder="Введите постоянные издержки" name="name" ng-model="newItem.value.fixedCost" /><br>
                                <input id="new_client" type="number" placeholder="Введите прибыль" name="name" ng-model="newItem.value.profit" /><br>
                                <button class="submit-btn" ng-click="onAddNewItemClick(newItem.value)" ng-disabled="!(newItem.value.name && newItem.value.varCost && newItem.value.fixedCost && newItem.value.profit)">Добавить товар</button>
                                <span class="warning" ng-hide="newItem.value.name && newItem.value.varCost && newItem.value.fixedCost && newItem.value.profit">* Заполните все поля</span>
                            </div>
                        
                        </div>

                    <ul class="comments">
                        <li  class="item" ng-repeat="(itI, item) in items" ng-class="selectedItemsIds.indexOf(item._id) !== -1 && 'selectedItem'">
                                <span class="comment" ng-click="onItemClick(item)">{{item.name}}</span>
                                <span class="comment_text" ng-style="{'visibility': selectedItemsIds.indexOf(item._id) !== -1 ?'visible':'hidden'}">
                                    <input type="number" ng-model="quantity['item_' + itI]" />
                                </span>
                        </li>
                    </ul>
                </div>
            <div class="cart">
                <button class="submit-btn btn-price" ng-click="handleCalculatePrice(quantity)">Рассчитать цену</button><br>
                <div class="cart-price">
                    <span class="price">
                        Цена заказа:
                    </span>
                    <span class="price">
                        {{total_price}}
                    </span>
                    <span class="price">
                        Размер скидки:
                    </span>
                    <span class="price">
                        {{total_sale}}
                    </span>
                </div>
            </div>
    </div>    
</div>