<div class="clearfix">
    <form ng-Submit="post()" ng-show="authenticated">
        <h4>{{current_user}} says</h4>
    <textarea required class="form-control" maxlength="100"
              rows="1" placeholder="Title" ng-model="newArticle.title"></textarea>
    <textarea required class="form-control" maxlength="100"
              rows="1" placeholder="Link" ng-model="newArticle.link"></textarea>
        <input class="btn submit-btn pull-right" type="submit" value="Chirp!" />
    </form>
</div>
<div id="post-stream">
    <h4>Articles</h4>
    <div class="post" ng-repeat="article in articles | orderBy:'created_at':false"
         ng-class-odd="'odd'" ng-class-even="'even'">
        <div ng-click="showComments = !showComments">
            <p>{{article.title}}</p>
            <a href="{{article.link}}">{{article.link}}</a>
            <br>
            <small>Posted by @{{article.author_username}}</small>
            <small class="pull-right">{{article.creation_date | date:"h:mma 'on' MMM d, y"}}</small>
        </div>
        <ul class="comments" ng-show="showComments">
            <li class="comment" ng-repeat="comment in article.comments">
                <strong class="comment_author">{{comment.author_username}}</strong>
                <div class="comment_text">{{comment.text}}</div>
            </li>
            <form class="comment-form" ng-Submit="postComment(article)" ng-show="authenticated">
                <textarea required class="form-control" maxlength="200"
                    rows="1" placeholder="Message" ng-model="newComment.text"></textarea>
                <input class="btn submit-btn pull-right" type="submit" value="Send comment!" />
            </form>
        </ul>
    </div>
</div>